<%- include ("partials/header")%>

<h1>
	<%= game.name %>
</h1>

<img src="<%= game.image %>">

<p>
	<%= game.description %>
</p>

<% game.comments.forEach(function(comment) { %>
	<p>
		<strong>
			<%= comment.author %>
		</strong>
		<%= comment.author %> - <%= comment.text%>
	</p>
<% }) %>

<%- include ("partials/footer")%>